<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asiagibson.mypath">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/path_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity android:name=".SchoolsActivity">
        </activity>
        <activity android:name=".activities.MainActivity"/>
            <activity android:name=".SplashScreenActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.YaipDataActivity" />

        <activity android:name=".activities.EsllActivity" />

        <activity android:name=".activities.BoroSearchActivity"/>


        <activity android:name=".FiveBorough"></activity>


    </application>





</manifest>